<footer class="footer">
<div class="container">
  <div class="columns">
    <div class="column is-half">
      <p class="small">
      Built when Mochi is sleeping.<br>
      </p>
    </div>

    <div class="column is-half has-text-right">
      <h6>Sponsored by <a href="https://noty.im">noty.im</a></h6>
      <span>© 2017 </span>A <a href="https://yeo.space">Yeo Space</a> product.
    </div>
  </div>
</div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
<script src="{{ .Site.BaseURL }}js/copvan.js?v=2"></script>
