<footer class="footer">
<div class="container">
  <div class="columns">
    <div class="column is-half">
      <p class="small">
      Built when Mochi is crying.<br><span>© 2017 </span>An <a href="https://yeo.space">Yeo Space</a> product.
      </p>
    </div>

    <div class="column is-half has-text-right">
      <h6>Sponsor by <a href="https://noty.im">noty.im</a></h6>
    </div>
  </div>
</div>
</footer>

<script src="http://bulma.io/javascript/jquery-2.2.0.min.js"></script>
<script src="{{ .Site.BaseURL }}js/copvan.js"></script>
