<section class="hero is-medium has-text-centered">
<div class="hero-head">
  <div class="container">
    <nav class="nav">
    <div class="nav-left">
      <a class="nav-item is-brand logo" href="/">Colour Artisan</a>
    </div>

    <span id="nav-toggle" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div id="nav-menu" class="nav-right nav-menu">
      <a class="nav-item" href="#">About</a>
      <a class="nav-item" href="#">Submit</a>
      <a class="nav-item" href="#">API</a>
    </div>
    </nav>
  </div>
</div>
</section>
