$post_border_bottom: 1px solid #BF5606;

$post_color_title: #1E2022;
$post_color_description: #52616B;
$post_color_timestamp: #C9D6DF;

$link_color: #52616B;

$base_font: Helvetica;
$headline_font: Helvetica;


$space: 10px;

//Color
$color-orange: #FF7473;
$color-green: #26C261;

$primary: $color-orange;
